<!DOCTYPE html>

<html>
    <head>
        <title>Cotações</title>
        <link rel = "stylesheet" href="./css/style.css">
    </head>
    <body>
<!--      <h1>{{title}}</h1> -->
    <div class='main-content'>
        {{> header}}
        <img class='portrait' src="./img/P3210026.JPG">  
    </div>        
        {{> footer}}
    </body>
</html>