<!DOCTYPE html>

<html>
    <head>
        <title>Cotações</title>        
        <link rel = "stylesheet" href="./css/style.css">
    </head>
    <body>
<!--      <h1>{{title}}</h1> -->
    <div class='main-content'>
        {{> header}}
        <p>Conteúdo do help</p>
    </div>
        {{> footer}}     
    </body>
</html>